# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Moneybox.Refactor.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\pedro\Desktop\dotnet-technical-task\moneybox-withdrawal-master\src\.idea\.idea.Moneybox.Refactor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
